.link-card {
    text-decoration: none;
    color: #838383;
}

a .story-card {
    padding: 1.25rem;
    min-height: 230px;
    -webkit-box-shadow: 10px 10px 17px -4px #ccc;
    -moz-box-shadow: 10px 10px 17px -4px #ccc;
    box-shadow: 10px 10px 17px -4px #ccc;
    background-color: #f9f9fa;
}

.link-card:hover {
    text-decoration: none;
}

a .story-card:hover {
    -webkit-box-shadow: 0 0 11px 2px #ccc;
    -moz-box-shadow: 0 0 11px 2px #ccc;
    box-shadow: 0 0 11px 2px #ccc;
}

.card-content h3 {
    font-size: 28px;
    height: 135px;
    font-weight: 300;
    line-height: 1.2;
}

.webcastDate {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
}

.bottom-card img {
    width: 38px;
}