.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 20px;
    margin-bottom: 15px;
    padding-bottom: 60px;
    border-bottom: 2px #cacaca solid;
}

.cards .icons {
    width: 50px;
}

.cards {
    margin-top: 3rem;
}

.cards h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    margin-left: 1rem;
}

.icon-group {
    display: flex;
}